.dat*
build
ib.xcodeproj/Stubs.h
ib.xcodeproj/Stubs.m
*.nib
.repl_history

/.motion-bundler.rb

resources/plugins
vendor/**/build*
vendor/**/*.bridgesupport
vendor/Pods
resources/MAS*
tags
ib.xcodeproj/project.xcworkspace/xcuserdata/ilo-robbie.xcuserdatad/UserInterfaceState.xcuserstate
ib.xcodeproj
