<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>078BC6541E394F65982A34D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09040C96565644A48626B34E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>099F695CA7814C4A8204386F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E456E96A1EB42B0918B3FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EC563B3BFA94832B8225769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF4B646FE0849A0958CFE6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>145C2C5C23824AFF96D9918E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15B2776B1400454FB51AE69F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BA21FD49C684DF0877E76FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24BC3CF42753439382E9D564</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26A664F5F37746D0A98CF4A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A859F0B1DA04BAF9A9338AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F35977C0ADA408CABDEDCF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46FE766024FB4D64800C0C52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4748018D9FCD4F0DBC20D8F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49C6BEE62C90459E80EFE3FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B4FB79AA0D14C16BE2A31BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D14F28B969647799576A3ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E89747952974DF096F0AAC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>543691FF8F5C4FE2BF5151FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C5C79C0083946F48BD9C1F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5B787CC1FB4BA6AD7DE223</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DD9B4F9124A43F8ABD350F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96A8541327D54F3EBE4D7056</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A52DC80D6A334EE29949F4D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB4A9211D93745C4A0D86D5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB45DB0465F744A7B5D22314</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB87C6B645394667907F8239</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E66EC0644C614157A79A9219</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F77611CD09144045B8F83D46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
